.blog-title {
    color: #f4f1de;
}

a:hover {
    color: #b6b84c;
}

a.btn {
    color: #3d405b;
    background-color: #f4f1de;
}

a.btn:hover {
    font-weight: bold;
    color: #f4f1de;
    background-color: #e07a5f;
}

a.fn-item:hover {
    color: #f38375;
}

a.fn-item.active {
    color: #a7adc6;
    opacity: 1;
}

button.ml {
    color: #f4f1de;
    background-color: #B80135;
    border: none;
    outline: none;
    padding: 0.3em;
    font-size: large;
}

button.ml:hover {
    color: white;
    background-color: #c01948;
}

button.ml:active {
    color: #3d405b;
    background-color: #c8c6c4;
}

#mc_embed_signup {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #3d405b;
    background: #f4f1de;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
}

.post-holder.odd {
    background: #f4f1de;
    color: #3d405b;
}

.post-holder {
    background: #B80135;
    color: white;
}

.post {
    font-size: large;
    text-align: justify;
}

body {
    color: #3D505B;
}


/* Footer */

.site-footer {
    color: #BBC7CC;
    background-color: #22343A;
}